<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue practice</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pannellum@2.5.6/build/pannellum.css">

    <script src="controller.js"></script>
</head>
<body>
    <div id="app">
        <fieldset>
            <legend>Panorama selector</legend>
            <select v-model='currentScene'
                @change='sceneChanged()'>
                <option v-for='(scene, index) in scenes'
                    :value='scene.path'
                    >{{ scene.title }}</option>
            </select>
        </fieldset>

        <fieldset>
            <legend>Panorama editor</legend>
            <p
                v-show='isHomeSceneChosen'
                :style='editLabel.style'
                @click='changeEditingState'
                > {{ editLabel.text }}</p>
            <p>Choose spot type
                <select v-model='selectedSpotType'
                    :disabled='!editLabel.isEditing'>
                    <option v-for='type in spotTypes'
                        :value="type.type">{{ type.text }}</option>
                </select>
            </p>
            <p>Select scene
                <select v-model='selectedTransitionScene'
                    :disabled='!editLabel.isEditing || selectedSpotType != "scene"'>
                    <option v-for='scene in scenes'
                    :value="scene.path">{{ scene.title }}</option>
                </select>
            </p>
            <p>pitch 
                <input type="text"
                    v-model='pitch'
                    autocomplete="off"
                    :disabled='!editLabel.isEditing'></p>
            <p>yaw 
                <input type="text"
                    v-model='yaw'
                    autocomplete="off"
                    :disabled='!editLabel.isEditing'></p>
            <p>description 
                <input type="text"
                    v-model='description'
                    autocomplete="off"
                    :disabled='!editLabel.isEditing'></p>
            <button id='addSpotBtn' :disabled='isButtonDisabled'>Add spot</button>
            <button id='deleteSpotBtn' :disabled='isButtonDisabled'>Delete spot</button>
            <button id='moveSpotBtn' :disabled='isButtonDisabled'>Move spot</button>
        </fieldset>
    </div>
    <script src="script.js"></script>
</body>
</html>